header.title {
  width: 50%;
  margin:50px auto;
  text-align: center;
  font-size: 40px;
  Font-Family: 'Raleway', Sans-Serif;
}

form {
  width: 60%;
  margin: 0 auto;
}

.label-name {
  font: #0276FD;
}

img {
  width: 100%;
  height: auto;
}

h1 {
  text-align: center;
  width: 100%;
  height: auto;
  font-size: 30px;
  font-Family: 'Open Sans', Sans-Serif;
}

.result-totals {
  font-Family: 'Open Sans', Sans-Serif;
  font-Size: 15px;
  text-align: center;
}

.mdl-grid {
  margin: 0 auto;
  f
}

.mdl-card {
  width: 100%;
  height: inherit;
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: bottom right 15% no-repeat #46B6AC;
}

.demo-card-square > .mdl-card__supporting-text {
  min-height: 100px;
}

.blurry-text { 
  color: transparent; 
  text-shadow: 0 0 5px rgba(0,0,0,0.5); 
  }

.mdl-cell {
  display: flex;
}

input {
  min-height: 33px;
}

